.header {
  align-items: center;
  background-image: linear-gradient(to right, rgb(60, 60, 60), rgb(35, 35, 35));
  box-shadow: 0 1px 4px;
  display: flex;
  justify-content: space-between;
  height: auto;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#hero-title {
  display: inline-block;
  font-family: "Oswald",sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 0.5rem;
}

.logo {
  float: right;
  height: auto;
  padding: 0.5rem;
  position: relative;
  width: 3rem;
}