/*** Navbar ***/

.back-arrow {
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 0.2rem;
  border: 0.1rem solid;
  color: #d82028;
  font-size: 2rem;
  padding: 0.6rem 0.6rem;
  margin: 1rem;
}

.bottom {
  display: flex;
}

.bottom hr {
  border: 0.05rem solid rgb(10, 10, 10);
  margin: auto 0 auto 1rem;
  height: 45%;
}

.hidden {
  transform: translateX(-85%);
}

.navbar {  
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  position: fixed;
  top: 0;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}

.navbar-background {
  background-image: radial-gradient(at 90%, rgb(15, 15, 15), rgb(45, 45, 45));
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.top {
  height: 82px;
}

/*** Link styling ***/

.nav-icon {
  font-size: 1.25em;
  color: #d82028;
}

.nav-item {
  align-items: center;
  display: flex;
  margin-left: 1rem;
}

.link {
 font-size: 1.75em;
 margin: 1rem 1rem;
 padding: 0.5rem 0;
}

/*** Expandable menu styling ***/

.dropdown-items {
  display: flex;
  flex-direction: column;
}

/********************************** MEDIA QUERIES ******************************/

@media only screen and (min-width: 768px) {}